* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  color: #333;
}


.navbar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-brand {
  color: #fff !important;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
}

.navbar-brand:hover {
  color: #ff9800 !important;
}

.navbar-nav .nav-link {
  color: #ccc !important;
  font-size: 1rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #fff !important;
}

.logout-button {
  background: none;
  border: none;
  color: #ccc;
  cursor: pointer;
  text-decoration: none;
}

.logout-button:hover {
  color: white !important;
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }
}
